/*--------
Body Style
----------*/
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fcfcfc;
    margin: 0%;
}

/* -----------------
Top Banner Style
--------------------*/
.top-banner {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid #161616;
    border-radius: 20px;
    background-color: #161616;
    margin: 50px 130px;
}

.banner-text {
    color: white;
    width: 45%;
    margin-top: 1%;

}

.banner-text h1 {
    font-size: 70px;
    font-weight: 600;
}

.banner-text p {
    margin-top: -40px;
    width: 80%;
}

.banner-text a {
    text-decoration: none;
    margin-top: 40px;
    color: #161616;
    font-weight: 600;
    background-color: #fff6bf;
    border-left: 5px solid #fce343;
    height: 30px;
    padding-left: 10px;
    padding-top: 10px;
    width: 25%;
    display: block;
}

.fa-arrow-right {
    margin-left: 10px;
    color: #161616
}

.top-banner img {
    height: 550px;
}

/* ------
 Main Blog 
 ---------*/
.main-blog {
    display: flex;
    margin: 100px 130px;
}

.main-blog-details {
    display: flex;
    flex-direction: column;
    border: 1px solid #161616;
    background-color: #161616;
    width: 312px;
    height: 312px;
    justify-content: center;
    align-items: center;
}

.upcoming-match {
    border: 1px solid #ffffff;
    background-color: #ffffff;
    height: 45px;
    width: 200px;
    text-align: center;
    margin: 30px 30px;
    margin-bottom: 15px;
    padding-top: 20px;
    border-radius: 10px;
}

.upcoming-match a {
    text-decoration: none;
    color: #161616;
    font-size: 18px;
    font-weight: 500;
}

.all-groups {
    border: 1px solid #ffffff;
    background-color: #ffffff;
    height: 45px;
    width: 200px;
    text-align: center;
    margin: 15px 30px;
    padding-top: 20px;
    border-radius: 10px;
}

.all-groups a {
    text-decoration: none;
    color: #161616;
    font-size: 18px;
    font-weight: 500;
}

.blog {
    border: 1px solid #DD0000;
    background-color: #DD0000;
    height: 45px;
    width: 200px;
    text-align: center;
    margin: 30px 30px;
    margin-top: 15px;
    padding-top: 20px;
    border-radius: 10px;
}

.blog a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.main-blog-news {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 20px;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}

.match-news {
    border: 1px solid gray;
    border-radius: 10px;
    width: 311px;
}

.match-news img {
    width: 312px;
    height: 175px;
}

.news-text {
    color: #161616;
    padding: 15px;
}

.news-text a {
    text-decoration: none;
    color: #161616;
    border: 2px solid #161616;
    height: 20px;
    width: 30%;
    background-color: #fcfcfc;
    display: block;
    text-align: center;
    border-radius: 5px;
    font-weight: 500;

}

.tittle {
    font-size: 18px;
    font-weight: 600;
}

.blog-icons {
    color: #161616B2;
    font-weight: 400px;
}

.fa-comment-dots {
    margin-left: 15px;
    margin-right: 7px;
}

.fa-clock {
    margin-right: 7px;
}

.view-all {
    display: none;
}

/*------------
Footer Style
------------- */
footer {
    border: 50px solid #161616;
    background-color: #161616;
    text-align: center;
    color: white;
}

.hr {
    opacity: 0.5;
    border: 0.5px solid #FFFFFF;
    width: 70%;
}

.footer-ancor {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.footer-ancor a {
    color: #B9B9B9;
    text-decoration: none;
    padding: 30px;
}

.social-media-icon {
    margin-top: 30px;
}

.social-media-icon a {
    text-decoration: none;
    font-size: 25px;
    color: white;
    padding: 10px;
}

/* ----------------
Media Queries
-------------------*/

/* ----------
Mobile Device
-------------*/
@media only screen and (max-width:688px) {
    .top-banner {
        margin: 21px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .banner-text {
        width: 80%;
    }

    .banner-text h1 {
        font-size: 22px;
        text-align: center;
    }

    .banner-text a {
        height: 30px;
        text-align: center;
        width: 60%;
        margin-top: 20px;
        margin-left: 40px;
    }

    .banner-text p {
        margin: 0;
        width: 100%;
        font-size: 14px;
    }

    .main-blog {
        flex-direction: column;
        margin: 21px;
    }

    .main-blog-details {
        border: 0px;
        background-color: white;
        width: 100%;
    }

    .upcoming-match {
        border: 1px solid gray;
        height: 45px;
        width: 200px;
    }

    .all-groups {
        border: 1px solid gray;
        height: 45px;
        width: 200px;
    }

    .main-blog-news {
        grid-template-columns: repeat(1, 1fr);
    }

    .match-news-h {
        display: none;
    }

    .footer-ancor {
        flex-direction: column;
        height: 300px;
        justify-content: space-between;
    }

}

/* --------
Tab Device
-----------*/
@media only screen and (min-width:688px) and (max-width:992px) {
    .top-banner {
        margin: 50px;
    }

    .banner-text {
        width: 100%;
        margin-left: 50px;
    }

    .banner-text h1 {
        font-size: 40px;
    }

    .banner-text a {
        height: 30px;
        width: 40%;
        margin-top: 20px;
    }

    .banner-text p {
        margin: 0;
        width: 80%;
        font-size: 14px;
        margin-top: -15px;
    }

    .main-blog {
        flex-direction: column;
        margin: 50px;
        margin-top: 30px;
    }

    .main-blog-details {
        border: 0px;
        background-color: white;
        width: 100%;
        flex-direction: row;
        height: 100%;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;

    }

    .upcoming-match {
        border: 1px solid gray;
        height: 40px;
        width: 220px;
        text-align: center;
        margin: 0;
        margin-right: 20px;
    }

    .all-groups {
        border: 1px solid gray;
        height: 40px;
        width: 220px;
        margin: 0;
        margin-right: 20px;
    }

    .blog {
        height: 40px;
        width: 220px;
        margin: 0;
        margin-left: 20px;
    }

    .main-blog-news {
        grid-template-columns: repeat(2, 1fr);
        margin-left: 0;
        justify-items: center;
    }

    .match-news-h {
        display: none;
    }

    .view-all {
        display: initial;
        text-align: center;
        margin-top: 50px;
        margin-left: 40%;
    }
    .view-all a{
        text-decoration: none;
        font-weight: 600;
        color: #161616;
        background-color: #fff6bf;
        border-left: 5px solid #fce343;
        height: 30px;
        padding-top: 10px;
        width: 25%;
        display: block;
    }

    .footer-ancor {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-row-gap: 15px;
        margin: 0;
        margin-top: 20px;

    }

    .top-banner img {
        height: 350px;
    }

    .footer-ancor a {
        padding: 0px;
    }

    .hr {
        width: 95%;
    }
}